textarea {
  background-color: #444 !important;
  color: #FFF !important;
}

input {
  background-color: #444 !important;
  color: #FFF !important;
}

#urlbar {
  background-color: #444 !important;
}
